.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.version-footer {
    font-size: 0.7rem;
    pointer-events: none;
    z-index: 9999;
    color: #000 !important;
}